<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zenox.Wpf.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zenox.Wpf.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Zenox.Wpf.UI.Properties.Settings>
            <setting name="HauptUITyp" serializeAs="String">
                <value>Zenox.Wpf.UI.MainWindow</value>
            </setting>
        </Zenox.Wpf.UI.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Zenox.Wpf.UI.Properties.Settings>
            <setting name="LocalisationISO" serializeAs="String">
                <value>de</value>
            </setting>
        </Zenox.Wpf.UI.Properties.Settings>
    </userSettings>
</configuration>